<fieldset
    class="gap-medium uk-rounded p-medium relative flex flex-col border"
    x-data="{ key: `blocks[${i}]` }"
>
    <input type="hidden" :name="`blocks[${i}][_type]`" :value="block.type" />

    <div class="right-medium absolute -top-[1.75rem] flex">
        <button
            class="uk-btn uk-btn-default uk-btn-icon uk-btn-xs mr-smallest block-moveup-btn"
            type="button"
            @click="moveBlockUp(i)"
        >
            <uk-icon icon="arrow-up"></uk-icon>
        </button>
        <button
            class="uk-btn uk-btn-default uk-btn-icon uk-btn-xs mr-medium block-movedown-btn"
            type="button"
            @click="moveBlockDown(i)"
        >
            <uk-icon icon="arrow-down"></uk-icon>
        </button>
        <button
            class="uk-btn uk-btn-default uk-btn-icon uk-btn-xs block-delete-btn"
            type="button"
            x-on:click="deleteBlock(i)"
        >
            <uk-icon icon="trash"></uk-icon>
        </button>
    </div>

    <legend
        class="uk-btn-default uk-btn-xs uk-btn mr-auto place-self-start hover:bg-transparent"
    >
        <span x-text="i + 1 + '.'"></span>
        <span x-text="block.type"></span>
    </legend>

    <template x-for="(field, j) in block.fields">
        <div>
            <template x-if="field.type === 'input'">
                {% include 'page/_fields/_input.twig' %}
            </template>
            <template x-if="field.type === 'textarea'">
                {% include 'page/_fields/_textarea.twig' %}
            </template>
            <template x-if="field.type === 'array'">
                {% include 'page/_fields/_array.twig' %}
            </template>
        </div>
    </template>
</fieldset>
