<div x-data="{ key: `${key}[${field.key}]`}">
    <template x-if="field.type === 'input'">
        <div x-html="document.getElementById('tpl-input').innerHTML"></div>
    </template>
    <template x-if="field.type === 'textarea'">
        <div x-html="document.getElementById('tpl-textarea').innerHTML"></div>
    </template>
    <template x-if="field.type === 'media'">
        <div x-html="document.getElementById('tpl-media').innerHTML"></div>
    </template>
    <template x-if="field.type === 'date'">
        <div x-html="document.getElementById('tpl-date').innerHTML"></div>
    </template>
    <template x-if="field.type === 'time'">
        <div x-html="document.getElementById('tpl-time').innerHTML"></div>
    </template>
    <template x-if="field.type === 'select'">
        <div x-html="document.getElementById('tpl-select').innerHTML"></div>
    </template>
    <template x-if="field.type === 'checkbox'">
        <div x-html="document.getElementById('tpl-checkbox').innerHTML"></div>
    </template>

    <template x-if="field.type === 'fieldset'">
        <div x-html="document.getElementById('tpl-fieldset').innerHTML"></div>
    </template>
    <template x-if="field.type === 'array'">
        <div x-html="document.getElementById('tpl-array').innerHTML"></div>
    </template>
</div>
