{% extends 'base.twig' %}

{% block back_link %}
    {{
        path(
            'app_page',
            {
                id: page.id
            }
        )
    }}
{% endblock %}

{% block title %}
    Edit Page Details - {{ page.path }}
{% endblock %}

{% block actions %}
    <button class="uk-btn uk-btn-primary" form="page-details-form">Save</button>
{% endblock %}

{% block body %}
    {% include 'page/_details_form.twig' %}
{% endblock %}
