{% extends 'base.html.twig' %}

{% block title %}
    Pages
{% endblock %}

{% block actions %}
    <a class="uk-btn uk-btn-primary" href="/admin/pages/new">New Page</a>
{% endblock %}

{% block body %}

{% endblock %}
