{% extends 'base.twig' %}

{% block title %}
    New Page
{% endblock %}

{% block actions %}
    <button class="uk-btn uk-btn-primary" form="page-details-form">
        Submit
    </button>
{% endblock %}

{% block body %}
    {% include 'page/_details_form.twig' %}
{% endblock %}
