{% extends 'base.twig' %}

{% block title %}
    Media
{% endblock %}

{% block actions %}
    <a class="uk-btn uk-btn-primary" href="{{ path('app_media_new') }}">
        Add Media
    </a>
{% endblock %}

{% block body %}

{% endblock %}
