{% extends 'base.twig' %}

{% block back_link %}
    {{ path('app_locale') }}
{% endblock %}

{% block title %}
    Edit Locale - {{ values.name }}
{% endblock %}

{% block actions %}
    <button class="uk-btn uk-btn-primary" form="locale-form">Save</button>
{% endblock %}

{% block body %}
    {% include 'data_locale/_form.twig' %}
{% endblock %}
