{
    "plugins": [
        "@prettier/plugin-php",
        "@zackad/prettier-plugin-twig",
        "prettier-plugin-tailwindcss",
        "@ttskch/prettier-plugin-tailwindcss-anywhere"
    ],
    "overrides": [
        {
            "files": ["*.php"],
            "options": {
                "singleQuote": true
            }
        },
        {
            "files": ["*.twig"],
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": ["*.css", "*.json", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
