<form method="post" action="/__emails/contact">
    <h2>{{ title }}</h2>

    <input type="text" placeholder="name" name="name" />
    <input type="email" placeholder="email" name="email" />

    <textarea placeholder="message" name="message"></textarea>

    <button type="submit">Send</button>
</form>
