@import "tailwindcss";
@import "./frankenui-core.min.css";
@import "./theme.css";

@theme inline {
  --spacing-smallest: 0.2rem;
  --spacing-small: 0.9rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 2.5rem;
}

@layer base {
  * {
    @apply border-border! duration-150!;
  }

  html {
    zoom: 120%;
    @apply bg-background text-foreground;
  }

  button {
    @apply cursor-pointer;
  }

  button.uk-btn-destructive {
    @apply border-none!;
  }

  button.uk-btn-ghost,
  a.uk-btn-ghost {
    @apply border-0!;
  }

  form {
    @apply mx-auto flex w-full flex-col gap-6;
  }

  h1 {
    @apply text-2xl font-semibold;
  }

  input {
    @apply border-input!;
  }

  textarea {
    @apply border-input! h-[6lh] resize-none;
  }

  form div.form-destructive {
    & > .uk-form-controls > input {
      @apply border-destructive!;
    }
    & > .uk-form-label {
      @apply text-destructive!;
    }
    & > .uk-form-help {
      @apply text-destructive;
    }
  }
}
