@import "tailwindcss";
@import "./frankenui-core.min.css";
@import "./theme.css";

@theme inline {
  --spacing-smallest: 0.2rem;
  --spacing-small: 0.9rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 2.5rem;
}

@layer base {
  :root {
    color-scheme: dark;
  }

  * {
    @apply border-border duration-150!;
  }

  .uk-card,
  .uk-table *,
  .uk-input-fake,
  .uk-select,
  .uk-btn-default,
  .uk-tab::before {
    @apply border-border!;
  }

  .uk-btn:disabled,
  .uk-input:disabled,
  .uk-textarea:disabled,
  .uk-select:disabled {
    @apply opacity-50! cursor-not-allowed! bg-[var(--uk-disabled-color)]!;
  }

  html {
    zoom: 120%;
    @apply bg-background text-foreground;
  }

  button {
    @apply cursor-pointer;
  }

  button.uk-btn-destructive {
    @apply border-0!;
  }

  button.uk-btn-ghost,
  a.uk-btn-ghost {
    @apply border-0!;
  }

  .uk-alert-destructive {
    @apply border-0!;
  }

  form {
    @apply mx-auto flex w-full flex-col gap-6;
  }

  h1 {
    @apply text-2xl font-semibold;
  }

  h2 {
    @apply text-xl font-semibold;
  }

  input {
    @apply border-input!;
  }

  textarea {
    @apply border-input! h-[6lh] resize-none;
  }

  ul.uk-tab > li.uk-active {
    @apply border-[var(--uk-tab-active-border-color)]!;
  }

  select.uk-select,
  select.uk-select option {
    @apply text-foreground! bg-card!;
  }

  form .form-destructive {
    & > .uk-form-controls > input {
      @apply border-destructive!;
    }
    & > .uk-form-label {
      @apply text-destructive!;
    }
    & > .uk-form-help {
      @apply text-destructive;
    }
    select {
      @apply border-destructive!;
    }
  }

  fieldset .form-destructive {
    @apply border-destructive!;

    & > legend {
      @apply border-destructive! text-destructive!;
    }
  }
}
