@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-border: hsl(var(--border) / var(--border-alpha, 1));
  --color-input: hsl(var(--input) / var(--input-alpha, 1));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive) / var(--destructive-alpha, 1));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-ring: hsl(var(--ring));
  --color-sidebar-background: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  --font-geist-sans:
    Geist Sans, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  --font-geist-mono:
    Geist Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

@layer base {
  :root {
    --background: 338.2 0% 100%;
    --foreground: 0 0% 0%;
    --card: 338.2 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 338.2 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 337.5 0% 5.1%;
    --primary-foreground: 338.2 0% 100%;
    --secondary: 320 0% 94.9%;
    --secondary-foreground: 0 0% 30%;
    --muted: 0 2% 90%;
    --muted-foreground: 0 0% 30%;
    --accent: 0 2% 90%;
    --accent-foreground: 0 0% 20%;
    --destructive: 6.8 122.3% 77.9%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 30%;
    --input: 0 0% 30%;
    --ring: 337.5 0% 5.1%;
    --radius: 0.5rem;
    --chart-1: 337.5 0% 5.1%;
    --chart-2: 320 0% 94.9%;
    --chart-3: 0 2% 90%;
    --chart-4: 0 2% 100%;
    --chart-5: 337.5 0% 15.1%;

    --sidebar-background: 0 0% 97%;
    --sidebar-foreground: 0 0% 38%;
    --sidebar-primary: 0 0% 50%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 0 2% 87%;
    --sidebar-accent-foreground: 0 0% 20%;
    --sidebar-border: 0 0% 27%;
    --sidebar-ring: 0 0% 2%;
  }

  .dark {
    --background: 338.2 10% 10%;
    --foreground: 0 10% 90%;
    --card: 338.2 10% 10%;
    --card-foreground: 0 10% 90%;
    --popover: 338.2 10% 10%;
    --popover-foreground: 0 10% 90%;
    --primary: 337.5 10% 90%;
    --primary-foreground: 338.2 10% 10%;
    --secondary: 320 10% 10%;
    --secondary-foreground: 0 10% 70%;
    --muted: 0 12% 10%;
    --muted-foreground: 0 10% 70%;
    --accent: 0 12% 10%;
    --accent-foreground: 0 10% 80%;
    --destructive: 0 100% 56%;
    --destructive-foreground: 0 10% 90%;
    --border: 0 10% 70%;
    --input: 0 10% 70%;
    --ring: 337.5 10% 90%;
    --radius: 0.5rem;
    --chart-1: 337.5 10% 20%;
    --chart-2: 320 10% 60%;
    --chart-3: 0 12% 60%;
    --chart-4: 0 12% 60%;
    --chart-5: 337.5 10% 20%;

    --sidebar-background: 338 10% 2%;
    --sidebar-foreground: 0 10% 56%;
    --sidebar-primary: 337 10% 50%;
    --sidebar-primary-foreground: 338 10% 100%;
    --sidebar-accent: 0 12% 25%;
    --sidebar-accent-foreground: 0 10% 80%;
    --sidebar-border: 0 10% 62%;
    --sidebar-ring: 337 10% 82%;
  }
}
