{% extends layoutPath %}

{% block meta %}
    <title>
        {{- page.getMeta()['title'] ?? '' -}}
    </title>

    <meta
        name="description"
        content="{{- page.getMeta()['description'] ?? '' -}}"
    />

    <meta name="canonical" content="{{ app.request.uri }}" />

    {% set _meta_raw_html = page.getMeta()['raw_html'] ?? '' %}
    {{- _meta_raw_html|raw -}}
{% endblock %}

{% block body %}
    {% for block in page.getData() %}
        {% include block._path with {
            ...block
        } %}
    {% endfor %}
{% endblock %}
