<div :class="field.error ? 'form-destructive' : ''">
    <label class="uk-form-label capitalize" :for="key" x-text="field.key">

    </label>
    <div class="uk-form-controls">
        <input
            class="uk-input"
            type="date"
            x-model="field.value"
            :id="key"
            :name="key"
        />
    </div>
    <div class="uk-form-help" x-text="field.error"></div>
</div>
