<div
    x-data="{
        idKey: key.replaceAll('[', '-').replaceAll(']', ''),

        init() {
            if (!field.value) this.resetMedia();
            const currentMedia = media.find((m) => m.name === field.value.name);

            if (!currentMedia && field.value.url) {
                this.resetMedia();
            } 
        },

        setMedia(m) {
            field.value.variants = m.variants;
            field.value.name = m.name;
            field.value.url = m.variants[Object.keys(m.variants)[0]];
            field.value.type = m.type;
            field.value.alt = '';
        },

        resetMedia() {
            field.value = {
                url: '',
                name: '',
                variants: {},
                alt: '',
            };
        },
    }"
>
    <fieldset
        :class="field.error ? 'form-destructive' : ''"
        class="gap-medium p-medium uk-rounded relative grid grid-cols-3 border shadow"
    >
        <legend
            class="uk-btn-default uk-btn-xs uk-btn bg-card text-card-foreground border-border mr-auto place-self-start"
        >
            <span class="capitalize" x-text="field.key"></span>
        </legend>

        <div>
            <label class="uk-form-label" :for="key + '[name]-btn'">Media</label>
            <div class="uk-form-controls relative">
                <input
                    type="hidden"
                    :id="key + '[name]'"
                    :name="key + '[name]'"
                    x-model="field.value.name"
                />

                <input
                    type="hidden"
                    :id="key + '[type]'"
                    :name="key + '[type]'"
                    x-model="field.value.type"
                />

                <button
                    class="uk-input-fake"
                    type="button"
                    :id="key + '[name]-btn'"
                    :data-uk-toggle="`target: #media-select-modal-${idKey}`"
                >
                    <span
                        class="pointer-events-none flex h-full items-center pr-3"
                    >
                        <uk-icon icon="paperclip"></uk-icon>
                    </span>
                    <span class="truncate" x-text="field.value.name"></span>
                </button>
            </div>
        </div>

        <div>
            <label class="uk-form-label" :for="key + '[variant]'">
                Variant
            </label>
            <div class="uk-form-controls relative">
                <template x-for="(url, variant) in field.value.variants">
                    <input
                        type="hidden"
                        :name="`${key}[variants][${variant}]`"
                        x-model="field.value.variants[variant]"
                    />
                </template>

                <select
                    class="uk-select capitalize"
                    :id="key + '[variant]'"
                    :name="key + '[url]'"
                    x-model="field.value.url"
                    :disabled="!field.value.url"
                >
                    <template x-if="field.value.url">
                        <template
                            x-for="(url, variant) in field.value.variants"
                            :key="url"
                        >
                            <option
                                class="capitalize"
                                :value="url"
                                x-text="variant"
                                :selected="field.value.url === url"
                            ></option>
                        </template>
                    </template>
                </select>
            </div>
        </div>

        <div>
            <label class="uk-form-label" :for="key + '[alt]'">Alt</label>
            <div class="uk-form-controls">
                <input
                    class="uk-input"
                    x-model="field.value.alt"
                    :id="key + '[alt]'"
                    :name="key + '[alt]'"
                    :disabled="field.value.type !== 'image'"
                />
            </div>
        </div>
    </fieldset>

    <div class="uk-form-help text-destructive" x-text="field.error?.url"></div>

    <div
        :id="`media-select-modal-${idKey}`"
        class="uk-modal-container"
        data-uk-modal
    >
        <div class="uk-modal-dialog uk-margin-auto-vertical">
            <button
                class="uk-modal-close absolute right-4 top-4"
                type="button"
                data-uk-close
            >

            </button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Select Media</h2>
            </div>
            <div class="uk-modal-body">
                <ul class="gap-medium grid grid-cols-4">
                    <template x-for="m in media">
                        <button class="uk-modal-close" @click="setMedia(m)">
                            <li
                                class="uk-card group relative flex flex-col overflow-hidden"
                            >
                                <div class="h-56 overflow-hidden">
                                    <template x-if="m.type == 'image'">
                                        <img
                                            class="h-full w-full object-cover"
                                            :src="m.variants.thumbnail"
                                            alt=""
                                        />
                                    </template>
                                    <template x-if="m.type == 'file'">
                                        <div
                                            class="flex h-full items-center justify-center"
                                        >
                                            <uk-icon
                                                icon="file"
                                                height="48"
                                                width="48"
                                            ></uk-icon>
                                        </div>
                                    </template>
                                </div>

                                <div class="uk-card-body shrink-0">
                                    <h3
                                        class="uk-card-title py-smallest truncate"
                                        x-text="m.name"
                                    >

                                    </h3>
                                </div>
                            </li>
                        </button>
                    </template>
                </ul>
            </div>
            <div class="uk-modal-footer gap-small flex justify-end">
                <span class="grow"></span>

                <button
                    class="uk-modal-close uk-btn uk-btn-default"
                    type="button"
                >
                    Cancel
                </button>

                <button
                    class="uk-modal-close uk-btn uk-btn-default"
                    type="button"
                    @click="resetMedia()"
                >
                    Unset
                </button>
            </div>
        </div>
    </div>
</div>
