<div :class="field.error ? 'form-destructive' : ''">
    <label class="uk-form-label" :for="key" x-text="field.key"></label>
    <div class="uk-form-controls">
        <textarea
            class="uk-textarea"
            x-model="field.value"
            :id="key"
            :name="key"
        ></textarea>
    </div>
    <div class="uk-form-help">
        {{ field.error ?? '' }}
    </div>
</div>
