<div :class="field.error ? 'form-destructive' : ''">
    <label
        class="uk-form-label"
        :for="`${key}[${field.key}]`"
        x-text="field.key"
    >

    </label>
    <div class="uk-form-controls">
        <textarea
            class="uk-textarea"
            :id="`${key}[${field.key}]`"
            :name="`${key}[${field.key}]`"
            x-text="field.value"
            x-model="field.value"
        ></textarea>
    </div>
    <div class="uk-form-help">
        {{ field.error ?? '' }}
    </div>
</div>
