<!DOCTYPE html>
<html class="uk-theme-neutral dark">
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>" /> {% block stylesheets %}

    {% endblock %}
    {% block javascripts %}

    {% endblock %}
    {% block importmap %}
      {{ importmap('app') }}
    {% endblock %}
  </head>
  <body hx-target="body" hx-swap="outerHTML" hx-boost="true" hx-push-url="true">
    <div>
      <aside>
        <button class="uk-btn uk-btn-default" hx-post="{{ path('app_auth_logout') }}">Log Out</button>
      </aside>
      <main class="p-medium gap-medium flex flex-col">
        {% block body %}

        {% endblock %}
      </main>
    </div>
  </body>
</html>
