{% extends 'base.twig' %}

{% block title %}
    Theme
{% endblock %}

{% block actions %}
    <a class="uk-btn uk-btn-default" href="{{ path('app_theme_change') }}">
        Change Theme
    </a>
    <button class="uk-btn uk-btn-primary" form="" type="submit">Save</button>
{% endblock %}

{% block body %}

{% endblock %}
