{% extends 'base.twig' %}

{% block back_link %}
    {{ path('app_redirects') }}
{% endblock %}

{% block title %}
    Edit Redirect
{% endblock %}

{% block actions %}
    <button class="uk-btn uk-btn-primary" form="redirect-form">Submit</button>
{% endblock %}

{% block body %}
    {% include 'redirect/_form.twig' %}
{% endblock %}
