{% extends 'auth_base.html.twig' %}

{% block title %}
  Log In
{% endblock %}

{% block body %}
  <h1>Log In</h1>

  <form class="uk-form-stacked" hx-post="{{ path('app_auth_login') }}">
    <div>
      <label class="uk-form-label" for="email">Email</label>
      <div class="uk-form-controls">
        <input required class="uk-input" type="email" id="email" name="email" value="{{ last_email ?? '' }}" />
      </div>
    </div>

    <div>
      <label class="uk-form-label" for="password">Password</label>
      <div class="uk-form-controls">
        <input required minlength="6" class="uk-input" type="password" id="password" name="password" />
      </div>
    </div>

    {% if error and error.message %}
      <div class="uk-alert uk-alert-destructive" data-uk-alert>{{ error.message }}</div>
    {% endif %}

    <button type="submit" class="uk-btn uk-btn-primary">Submit</button>
  </form>
{% endblock %}
