{% extends 'auth_base.twig' %}

{% block title %}
    Log In
{% endblock %}

{% block body %}
    <h1>Log In</h1>

    <form class="uk-form-stacked" method="post">
        <div>
            <label class="uk-form-label" for="email">Email</label>
            <div class="uk-form-controls">
                <input
                    class="uk-input"
                    required
                    type="email"
                    id="email"
                    name="email"
                    value="{{ last_email ?? '' }}"
                />
            </div>
        </div>

        <div>
            <label class="uk-form-label" for="password">Password</label>
            <div class="uk-form-controls">
                <input
                    class="uk-input"
                    required
                    minlength="6"
                    maxlength="128"
                    type="password"
                    id="password"
                    name="password"
                />
            </div>
        </div>

        {% if error and error.message %}
            <div class="uk-alert uk-alert-destructive" data-uk-alert>
                {{ error.message }}
            </div>
        {% endif %}

        <button type="submit" class="uk-btn uk-btn-primary">Submit</button>
    </form>

    <div class="text-muted-foreground flex justify-center">
        <a
            class="text-sm hover:underline"
            href="{{ path('app_auth_password_reset') }}"
        >
            Reset Password
        </a>
    </div>
{% endblock %}
