{% extends 'auth_base.twig' %}

{% block title %}
    Reset Password Email Sent
{% endblock %}

{% block body %}
    <h1>Reset Password Email Sent</h1>

    <p>
        Password reset link has been sent to your email address
    </p>
{% endblock %}
