{% extends 'auth_base.twig' %}

{% block title %}
    Password Reset
{% endblock %}

{% block body %}
    <h1>Password Reset</h1>

    <form class="uk-form-stacked" method="post">
        <div class="{{ errors.email ?? '' ? 'form-destructive' : '' }}">
            <label class="uk-form-label" for="email">Email</label>
            <div class="uk-form-controls">
                <input
                    class="uk-input"
                    required
                    type="email"
                    id="email"
                    name="email"
                    value="{{ values.email ?? '' }}"
                />
            </div>
            <div class="uk-form-help">
                {{ errors.email ?? '' }}
            </div>
        </div>

        <button type="submit" class="uk-btn uk-btn-primary">Submit</button>
    </form>
{% endblock %}
