{% extends 'auth_base.twig' %}

{% block title %}
    Reset Password Email Sent
{% endblock %}

{% block body %}
    <h1 class="text-center">Reset Password Email Sent</h1>

    <p class="text-muted-foreground text-center">
        Password reset link has been sent to your email address
    </p>
{% endblock %}
